html, body {
	margin: 0;
	/*height: 100%;*/
	padding: 0;
}

main {
	height: 100vh;
}

.row {
	width: 33.3%;
	height: 100%;
	display: inline-block;
	margin-left: -4px;
}

.one {
	background-color: #4A90E2;

}

.two {
	background-color: #50E3C2;
	/*width: 33%;
	height: 100%;
	display: inline-block;
	margin-left: -4px;*/
}

.three {
	background-color: #B8E986;
	/*width: 34%;
	height: 100%;
	display: inline-block;
	margin-left: -4px;*/

}

.image {
	background-color: red;
	height: 200px;
	width: inherit;
	position: absolute;
	bottom: 0;
}
